<%- include('partials/header.ejs') %>

<div class="container fs-5">
    <form action="/create" method="post">
        <div class="col-4 mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Title goes here...">
        </div>
        <div class="col-4 mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" name="author" id="author" placeholder="Author name goes here...">
        </div>
        <div class="col mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" name="content" id="content" rows="10"
                      placeholder="Start Writing..."></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-lg px-4 me-md-2">Submit</button>

    </form>
</div>
<script>
    $("#header-create").addClass("active")
    $("#header-home").removeClass("active")
    $("#header-blogs").removeClass("active")
</script>


<%- include('partials/footer.ejs') %>